<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ws</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- FOR WEBSERVICE servlet>
    <display-name>HelloWorldService</display-name>
    <servlet-name>HelloWorldService</servlet-name>
    <servlet-class>com.housing.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldService</servlet-name>
    <url-pattern>/HelloWorldService</url-pattern>
  </servlet-mapping-->
  
  <!-- FOR SERVLET - ONLY SSL  security-constraint>  
     <web-resource-collection>  
     	<web-resource-name>Secure Content</web-resource-name>  
        <url-pattern>/*</url-pattern>  
     </web-resource-collection>  
     <user-data-constraint>  
     	<transport-guarantee>CONFIDENTIAL</transport-guarantee>  
     </user-data-constraint>  
  </security-constraint -->  
  
  <!-- security-constraint>  
      <web-resource-collection>  
                <web-resource-name>Secure Content</web-resource-name>  
                <url-pattern>/SecureServlet</url-pattern>  
      </web-resource-collection> 
      <user-data-constraint>  
             <transport-guarantee>CONFIDENTIAL</transport-guarantee>  
  	  </user-data-constraint>  
    </security-constraint>  
  
    <login-config>
        <auth-method>CLIENT-CERT</auth-method>
    </login-config-->
    
    <!-- 
     <security-constraint>  
       <display-name>restricted access</display-name>  
       <web-resource-collection>  
          <web-resource-name>Public Access</web-resource-name>  
          <url-pattern>/JaasServlet</url-pattern>  
          <http-method>GET</http-method>  
       </web-resource-collection>
       <auth-constraint>  
          <role-name>all</role-name>  
       </auth-constraint>    
       <user-data-constraint>  
          <transport-guarantee>NONE</transport-guarantee>  
       </user-data-constraint>  
    </security-constraint>  
    <security-role>  
      <role-name>all</role-name>  
    </security-role>
    -->  
    <login-config>  
      <auth-method>BASIC</auth-method>  
      <realm-name>ApplicationRealm</realm-name>  
    </login-config> 
   
</web-app>