<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="java.sun.com/xml/ns/javaee"
    xmlns:web="java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xmlns:xsi="w3.org/2001/XMLSchema-instance" xsi:schemaLocation="java.sun.com/xml/ns/javaee java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="IntelliServer"
    version="3.0">
    
    <display-name>Archetype Created Web Application</display-name>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
<!--     <listener> -->
<!--         <listener-class>si.hibernate4servlets.AppInit</listener-class> -->
<!--     </listener> -->
    
<!--     <filter> -->
<!--         <display-name>HibernateSessionFilter</display-name> -->
<!--         <filter-name>HibernateSessionFilter</filter-name> -->
<!--         <filter-class>si.hibernate4servlets.HibernateSessionFilter</filter-class> -->
<!--     </filter> -->
    
<!--     <filter-mapping> -->
<!--         <filter-name>HibernateSessionFilter</filter-name> -->
<!--         <url-pattern>/*</url-pattern> -->
<!--     </filter-mapping> -->
    
</web-app>


