div.users {
    padding: 5px;
}

div.users table.grid {
    border: 1px solid #dcdcdc;
    /*border-collapse: collapse;*/
    empty-cells: show;
    width: 610px;
    padding: 5px;
}

div.users table.grid caption {
    text-align: left;
    padding: 5px;
}

div.users table.grid th,div.users table.grid tr,div.users table.grid td {
    text-align: left;
}

div.users table.grid th {
    width: 200px;
}

div.users table.grid thead,div.users table.grid tfoot {
    color: #ffffff;
    background: black;
}

div.menu.footer {
    margin-top:20px;
}

div.header span {
	font-size: larger;
}

div.edit {
	display: none;
	padding: 20px;
	width: 500px;
	position: fixed;
	top: 150px;
	left: 5px;
	z-index: 1000;
	border: 2px solid black;
}